/* Circle Logo Hover Effect */
.logo-container {
  transition: transform 0.5s;
  margin: 20px; ;
}

.logo-container:hover .rotate-text {
  animation: spinText 2s linear;
}


/* Circle Logo Spin Animation */
.hover\:animate-spin-logo:hover {
  animation: spin 2s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Circle Logo Hover Effect */
.logo-container {
  transition: transform 0.5s;
  margin: 20px;
}

/* Circle Logo Spin Animation */
.hover\:animate-spin-logo:hover {
  animation: spin 2s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Hover Text Styling */
.hover-text {
  font-size: 1rem; /* Default for small screens */
  color: white;
  transition: color 0.3s ease;
}

/* Responsive text adjustments */
@media (min-width: 640px) {
  .hover-text {
    font-size: 1.25rem; /* Larger text for medium screens */
  }
}

/* Make sure to handle layout and behavior on small screens */
@media (max-width: 450px) {
  .hover-text {
    font-size: 0.875rem; /* Slightly smaller text for extra-small screens */
  }
}
